body{
  background-color: rgb(230, 224, 216);
}

@font-face {
  font-family: 'Luthier';
  src: url('/siteroberto/Luthier-Bold.ttf') format('ttf');
  /* Adicione outros formatos de fonte, se necessário */
}

.altura {
  height: calc(100vh - 107px);
  overflow: hidden;
}

.imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fonte {
  font-family: 'Roboto';
}

.fonte2 {
  font-family:'Caveat';
}

.fonte3 {
  font-family:'Poppins';
}

.fonte4 {
  font-family:'Luthier';
  font-weight: 700;
  font-kerning: 50px;
}


.sombra {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s ease;
}

.sombra:hover {
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.8);
  
}


.botao {
  text-decoration: none;
  background-color: rgb(0,41,96);
  color: rgb(230, 224, 216);
  font-size: medium;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(171,120,54,0.8);
  transition: all 0.2s linear;

}

.botao:hover{
  background-color: rgb(171,120,54);
}

.texto {
   
  font-size:30px; 
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;
}

.carousel-item {
  padding: 20px;
  text-align: center;
}
.question {
  font-size: 1.2em;
  margin-bottom: 20px;
}
.options {
  margin-bottom: 20px;
}
.options label {
  display: block;
  margin: 10px 0;
}
.result {
  display: none;
  text-align: center;
  padding: 20px;
}

.txtoff{
  color: rgb(230, 224, 216);
}

.backprinc {
  background-image: url('../imagens/fundo_ajustado.png');
  background-size: cover; /* Ajusta a imagem para cobrir a div */
  background-repeat: no-repeat; /* Evita repetição da imagem */
  /* Outros estilos de background que você pode querer ajustar */
  background-position: bottom right;
}

@media (max-width: 750px) {
  .backprinc {
    background-image: url('../imagens/back_mobile2.png');
    background-size: cover; /* Ajusta a imagem para cobrir a div */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    /* Outros estilos de background que você pode querer ajustar */
    background-position: center center;
  }
  
  #nome{
    font-size: 20px;
  }
  
}